<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CERES</title>

    <link href="../wwwroot/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../wwwroot/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="../wwwroot/css/sb-admin-2.css" rel="stylesheet">
    <!-- Add IntroJs styles -->
    <link href="../wwwroot/bower_components/introjs/introjs.css" rel="stylesheet">
    <!-- Hopscotch css -->
    <link href="../wwwroot/bower_components/hopscotch/hopscotch.min.css" rel="stylesheet">
    <link href="../wwwroot/css/ceres.css" rel="stylesheet">


</head>
<body>
    <div id="content"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>

    <!-- Font-Awesome Icons -->
    <script src="https://use.fontawesome.com/d683461627.js"></script>
    <!--FOR HTML UNCOMMENT -->
    <script src="../wwwroot/js/bundle.js"></script>
    <script src="../wwwroot/js/main.js"></script>
    <script src="../wwwroot/bower_components/introjs/intro.js"></script>
    <script src="../wwwroot/bower_components/hopscotch/hopscotch.min.js"></script>

    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../wwwroot/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <!-- <script src="../Scripts/hub.js"></script> -->
    <script src="http://cereswebapi.azurewebsites.net/signalr/hubs"></script>
    <!-- <script src="~/signalr/js"></script> -->

    <script src="../wwwroot/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="../wwwroot/js/sb-admin-2.js"></script>

    <!-- <script src="../wwwroot/js/components/dashboard/TempDetails.js"></script> -->

    <script type="text/javascript">
      // $(function () {

      //  //Create the Hub
      //  console.log("Ready!");
      //  var chartHub = $.connection.chartHub;
      // //  console.log(chartHub);
      //  //Call InitChartData
      //  if (chartHub)
      //   console.log("SignalR hub initialized.");

      // $.connection.hub.logging = true;
    
    //  });

    </script>
    <script src="../Scripts/ChartScript.js"></script>
    <!-- <script type="text/javascript" src="../wwwroot/bower_components/introjs/intro.js"></script> -->

<!-- Custom Theme JavaScript -->
<!--FOR HTML UNCOMMENT -->
</body>
</html>
